@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Welcome</h2>
    <h3>to a platform of Letjobana's truck drivers</h3>
    <img src="~/Images/truck.jpg" class="rounded-circle" height="100" width="100" asp-append-version="true" />


</div>
